html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    background-color: #242d60;
    color: white;
    display: table-cell;
    vertical-align: middle;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Ubuntu', sans-serif;
}

h1 {
    display: table;
    margin: auto;
    margin-bottom: 5px;
}

table, th, td {
    padding: 5px;
    border: 1px solid black;
    border-collapse: collapse;
}

p {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #ef1f4d;
}